.category {
	width: 100%;
}
.category li {
	display: inline-block;
	width: 25%;
	text-align: center;
	padding: 10px 0;
	font-size: 13px;
}
span {
	width: 80%;
	box-sizing: border-box;
	border: 1px solid #DDDDDE;
	padding: 10px 0;
	border-radius: 20px;
	color: #424242;
	display: block;
	margin: 0 10%;
}
.more-lable {
	padding: 10px;
	background-color: #E7E7E7;
}
.location {
	color: #00a1ea;
	background-color: #ffffff;
	width: 100%;
	margin-top: 1%;
	border: 1px solid #00a1ea;
	padding: 9px 12px;
	font-size: 17px;
	border-radius: 5px;
}
.lt {
	display: inline;
}
.input{
    border: none;
    font-size: inherit;
}